@import '../../../globalStyles/globalVariables';
@import '../../../globalStyles/globalMixins';

@import './mixins';
@import './variables';

.lobby-bg-container {
  @include bg-container;
  // background: url('../../../assets/backgrounds/nightsky1.png');
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lobby-btn-start {
  @include btn-orange;
  width: 20vw;
  height: 5vw;
}
.lobby-btn-start:focus,
.lobby-btn-start:active {
  -webkit-appearance: none;
  outline: none;
}
.lobby-btn-start:hover {
  background-color: #f86247;
}

.lobby-btn-start-disabled {
  @include btn-orange;
  width: 20vw;
  height: 5vw;
  opacity: 0.5;
}

.my-power-ups {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 100px;
  height: 100px;
  background-color: transparent;
}

.btn-press {
  animation: buttonAnim;
  animation-duration: 0.3s;
}

@keyframes buttonAnim {
  50% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
