@import '../../../globalStyles/globalVariables';
@import '../../../globalStyles/globalMixins';

@import './mixins';
@import './variables';

.player-list-element-container {
  @include box-white-border-transparent;
  display: flex;
  min-width: 100%;
  min-height: 10vh;
  max-width: fit-content;
  max-height: 20vh;
  align-items: center;
  justify-content: space-around;
}

.player-list {
  font-family: $atariFont;
  color: $font-white;
  font-size: 1.7rem;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  display: flex;
  flex-direction: column;

  &.name-element {
    color: $colour-avatar-blue;
    justify-self: flex-end;
  }
  &.avatar-element {
    height: 12vh;
    max-width: 110px;
    transform: rotate(90deg);
    margin-right: 30px;
    margin-left: 30px;
  }
  &.status-element {
    color: $colour-green;
    max-width: 160px;
  }
}

.player-applied-power-ups {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 200px;
  background-color: transparent;
}

.applied-power-ups {
  width: 50px;
  margin-left: 5px;
}
