@import '../../../globalStyles/globalVariables';
@import '../../../globalStyles/globalMixins';

@import './mixins';
@import './variables';

.player-list-element-container {
  @include box-white-border-transparent;
  display: flex;
  min-width: 40vw;
  min-height: 10vh;
  max-width: 50vw;
  max-height: 20vh;
  justify-content: space-around;
  align-items: center;
}

.player-list {
  font-family: $atariFont;
  color: $font-white;
  font-size: 1.7rem;

  &.name-element {
    color: $colour-avatar-blue;
  }
  &.avatar-element {
    height: 12vh;
    width: 3vw;
    transform: rotate(90deg);
  }
  &.status-element {
    color: $colour-green;
  }
}
