@import '../../../globalStyles/globalVariables';
@import '../../../globalStyles/globalMixins';

.avatar-bg-container {
  @include bg-container;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url('../../../assets/backgrounds/nightsky2.png');
}

.avatar-wrapper {
  display: flex;
  justify-content: space-between;
  .avatar-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // justify-content: space-evenly;
    min-height: 80vh;
    .input {
      display: flex;
      flex-direction: column;
    }
    .input-label {
      @include label-font;
      text-align: left;
      padding: 1vh;
    }
    .room-id-display {
      display: flex;
      justify-content: space-around;
      align-items: center;
      @include box-white-border-transparent;
      width: 25vw;
      height: 8vh;

      .room-id-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 5;
        color: $font-darkgrey;
      }
      .copy-button {
        flex: 1;
      }
      .copy-to-clipboard {
        color: white;
        width: 50px;
      }
      .copy-button {
        background-color: transparent;
        opacity: 0.5;
        width: 80px;
        border: none;
      }

      .copy-button:active {
        opacity: 1;
        transform: scale(0.8);
        -webkit-appearance: none;
        outline: none;
      }
      .copy-button:focus {
        -webkit-appearance: none;
        outline: none;
      }
      .copy-button:hover {
        opacity: 1;
        -webkit-appearance: none;
        outline: none;
      }

      .copy-to-clipboard {
        fill: white;
        // background-color: white;
        color: white;
        width: 40px;
        background-color: transparent;
      }
    }
  }

  .input-field {
    @include box-white-border-transparent;
    width: 25vw;
    height: 8vh;
    text-align: center;
    font-size: 5vh;
    font-weight: 600;
    font-family: $atariFont;
    background: rgba(255, 255, 255, 0.5);
    color: $font-darkgrey;

    -webkit-appearance: none;
    outline: none;
    .room-id-input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      user-select: none;
    }
  }

  .input-field:focus {
    background: rgba(255, 255, 255, 0.7);
  }
  .input-field:hover {
    background: rgba(255, 255, 255, 0.6);
  }

  .avatar-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar-select-h1 {
      @include label-font;
      text-align: center;
      margin-bottom: 4px;
      margin-top: 4px;
      flex: 1;
    }
    .avatar-list {
      flex: 2;
      @include box-white-border-transparent;
      box-sizing: border-box;
      min-height: 60vh;
      max-height: 20vh;
      min-width: 20vw;
      max-width: 10vw;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .avatar-images {
      width: 2vw;
      height: 4vh;
      // padding-top: 2vh;
      // padding-bottom: 2vh;
      // padding-left: 2vw;
      // padding-right: 2vw;
      flex-wrap: wrap;
      &::selection {
        background-color: yellow;
      }
    }
    .selected {
      background-color: rgba(255, 255, 255, 0.4);
    }

    .avatar-images:hover {
      background-color: white;
      // border: 0.5vw solid white;
      opacity: 0.6;
      cursor: pointer;
    }
    .avatar-images:active {
      background-color: $font-bg-green;
    }
    .avatar-images::selection {
      background-color: yellow;
    }
    .taken {
      background-color: rgba(0, 0, 50, 0.2);
      filter: brightness(40%);
      pointer-events: none;
    }
  }
  .btn-ready {
    -webkit-appearance: none;
    outline: none;
    @include btn-orange;
    flex: 1;
    margin-top: 2vh;
  }
  .btn-ready:hover {
    background-color: #f86247;
  }

  .btn-press {
    animation: buttonAnim;
    animation-duration: 0.3s;
  }

  @keyframes buttonAnim {
    50% {
      transform: translate(5px, 5px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
}
