@import './globalStyles/globalMixins';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow: hidden;
  min-width: 1280px;
  min-height: 720px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}

//Moving background:
.moving-bg {
  @include bg-container;
  background: url('./assets/backgrounds/noLargeStarsBG2.png');
  height: 2500px;
  width: 5000px;
  position: absolute;
  align-items: center;
  animation-name: MOVEBG;
  animation-duration: 150s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin: 0;
  z-index: -1;
}

@keyframes MOVEBG {
  0% {
    transform: translateX(0%) translateY(0%);
  }
  25% {
    transform: translateX(-15%) translateY(-55%);
  }
  50% {
    transform: translateX(-55%) translateY(-55%);
  }
  75% {
    transform: translateX(-60%) translateY(-25%);
  }
  100% {
    transform: translateX(0%) translateY(0%);
  }
}

// .slide-enter {
//   opacity: 0;
//   transform: translateX(200px);
//   -webkit-transform: translateX(200px);
//   -moz-transform: translateX(200px);
//   -o-transform: translateX(200px);
//   -ms-transform: translateX(200px);
//   // transform: translate3d(100%, 0, 0);
// }

// .slide-enter-active {
//   opacity: 1;
//   transform: translateX(0);
//   -webkit-transform: translateX(0);
//   -moz-transform: translateX(0);
//   -o-transform: translateX(0);
//   -ms-transform: translateX(0);
//   // transform: translate3d(0, 0, 0);
//   transition: all 0.4s linear 0.6s;
// }

// .slide-exit {
//   opacity: 1;
//   transform: translateX(-100px);
//   -webkit-transform: translateX(-100px);
//   -moz-transform: translateX(-100px);
//   -o-transform: translateX(-100px);
//   -ms-transform: translateX(-100px);
// }

// .slide-exit-active {
//   opacity: 0;
//   transform: translateX(0);
//   -webkit-transform: translateX(0);
//   -moz-transform: translateX(0);
//   -o-transform: translateX(0);
//   -ms-transform: translateX(0);
//   transition: all 0.4s linear 0.6s;
// }

.slide-enter {
  opacity: 0.01;
}
.slide-enter.slide-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.slide-leave {
  opacity: 1;
}
.slide-leave.slide-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
