@import './globalStyles/globalMixins';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow: hidden;
  // min-width: 1280px;
  // min-height: 720px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}

//Moving background:
.moving-bg {
  @include bg-container;
  background: url('./assets/backgrounds/noLargeStarsBG2.png');
  height: 2500px;
  width: 5000px;
  position: absolute;
  align-items: center;
  animation-name: MOVEBG;
  animation-duration: 150s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin: 0;
  z-index: -1;
}

@keyframes MOVEBG {
  0% {
    transform: translateX(0%) translateY(0%);
  }
  25% {
    transform: translateX(-200px) translateY(-800px);
  }
  50% {
    transform: translateX(-2100px) translateY(-1000px);
  }
  75% {
    transform: translateX(-1900px) translateY(-100px);
  }
  100% {
    transform: translateX(0%) translateY(0%);
  }
}
